*,*::before,*::after{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10, 1fr);
}

  
#grid-container div {
    border : 1px solid rgb(139, 139, 139);
    height: 25px;
    width : 25px;
    opacity : 0;
    transition : all .15s ease-in-out;
    cursor : pointer;
}

.wall{
    background-color : gray;
}

.start{
    background-color: yellow;
}