@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
*,*::before,*::after{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);

}

#grid-container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10, 1fr);
}

  
#grid-container div {
    border : 1px solid white;
    height: 25px;
    width : 25px;
    opacity : 0;
    transition : all .15s ease-in-out;
    cursor : pointer;
    text-align: center;

}

.wall{
    background-color : rgb(255, 255, 255);
}


.menu{
    position: absolute;
    top : 0;
    width : 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap : 10px;
}

.start-div,.end-div{
    width : 25px;
    height : 25px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;


}


.start,.start-div{
   background-color: yellow;
}

.end,.end-div{
    background-color: rgb(85, 221, 85);
}

.solve{
    padding : .3em .6em;
    text-transform: uppercase;
    cursor: pointer;
    border : none;
    outline : none;
    background-color: rgb(132, 132, 241);
    color : white;
    border-radius: 4px;
}

.help{

    position: absolute;
    width : 100%;
    height : 100vh;
    background : rgba(0, 0, 0, 0.385);
    display : flex;
    align-items: center;
    justify-content: center;
}

.prompt
{
    max-width : 400px;
    min-width : 250px;
    background : rgb(41, 41, 41);
    padding : 1rem;
    position: relative;
    color : white;
}


.prompt span{
    padding-inline : 7px;
    color : rgb(22, 22, 22);
    font-weight: bolder;
}

.prompt button{
    position: absolute;
    bottom:  5px;
    right : 5%;
    padding : .2em .4em;
    outline : none;
    border : none;
    color : white;
    border : 1px solid white;
    background-color: transparent;
    cursor : pointer;
}
.hide{
    visibility:hidden;
}